.product-rating-overview-filter button {
  margin: 5px 5px;
  padding: 4px 25px;
  font-size: 12px;
  color: #878787;
}

.product-rating-overview-brief {
  margin-right: 30px;
}

.product-rating-overview-brief h2 {
  line-height: 35px;
  margin-bottom: 5px;
}

.product-rating-overview {
  border: 1px solid #ddd;
  padding: 30px;
  margin-top: 30px;
}

.product-comments {
  padding: 20px;
}

.comment {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.comment-icon {
  font-size: 16px;
}

.count {
  padding-left: 8px;
  cursor: auto;
}
.ant-comment-rtl .count {
  padding-right: 8px;
  padding-left: 0;
}

.product-footer {
  margin: 40px 0 60px 0;
}
