.section {
  border-bottom: 1px solid #e6e1e1;
  padding: 10px 0 10px 0;
}

.section .content {
  display: flex;
}

.section .column {
  width: 50%;
}

.section h4 {
  padding: 10px 0 13px 0;
  font-size: 18px;
  font-weight: bold;
}

.option-value.section {
  border: none;
}
