<div class="dashboard-section">
  <div class="title">
    <p>Hello <strong>Hieu Vo</strong> (not <strong>Hieu Vo</strong> ? <a>Sign out</a>)</p>
  </div>
  <div class="account-detail mb-30">
    <div class="title ">
      <p><strong> Account details :</strong></p>
    </div>
    <div class="table-content">
      <div class="row" nz-row>
        <div nz-col [nzSpan]="6">Name:</div>
        <div nz-col [nzSpan]="18">Vo Hieu</div>
      </div>

      <div class="row" nz-row>
        <div nz-col [nzSpan]="6">Email:</div>
        <div nz-col [nzSpan]="18">hieuvo044@gmail.com</div>
      </div>

      <div class="row" nz-row>
        <div nz-col [nzSpan]="6">Phone:</div>
        <div nz-col [nzSpan]="18">+84 968540305</div>
      </div>

      <div class="row" nz-row>
        <div nz-col [nzSpan]="6">Address:</div>
        <div nz-col [nzSpan]="18">Thu Duc District - Ho Chi Minh City</div>
      </div>

      <div class="row" nz-row>
        <div nz-col [nzSpan]="6">Country:</div>
        <div nz-col [nzSpan]="18">Vietnam</div>
      </div>
    </div>
  </div>


  <div class="order-history mb-30">
    <div class="title ">
      <p><strong> Order History :</strong></p>
    </div>
    <div class="table-content">
      <div class="order-error">

        <p> <i nz-icon nzType="warning" nzTheme="outline"></i>No order has been made yet.</p>
      </div>

    </div>
  </div>


</div>
