.category-sections {
  margin-top: 70px;
  width: 100%;
  overflow-x: auto;
}

.category-sections ul {
  min-width: 720px;
}

.category-sections ul li {
  padding: 10px 15px;
  outline: none;
}

.category-sections ul li.active {
  color: #56cfe1;
}
