<div class="container">
  <div nz-row class="product-list">
    <div nz-col class="product-item column" [nzSpan]="productCol">
      <app-product-card [product]="listProduct[0]"></app-product-card>
    </div>
    <div nz-col class="product-item column" [nzSpan]="productCol">
      <app-product-card [product]="listProduct[0]"></app-product-card>
    </div>
    <div nz-col class="product-item column" [nzSpan]="productCol">
      <app-product-card [product]="listProduct[0]"></app-product-card>
    </div>
    <div nz-col class="product-item column" [nzSpan]="productCol">
      <app-product-card [product]="listProduct[0]"></app-product-card>
    </div>
    <div nz-col class="product-item column" [nzSpan]="productCol">
      <app-product-card [product]="listProduct[0]"></app-product-card>
    </div>
    <div nz-col class="product-item column" [nzSpan]="productCol">
      <app-product-card [product]="listProduct[0]"></app-product-card>
    </div>
    <div nz-col class="product-item column" [nzSpan]="productCol">
      <app-product-card [product]="listProduct[0]"></app-product-card>
    </div>
    <div nz-col class="product-item column" [nzSpan]="productCol">
      <app-product-card [product]="listProduct[0]"></app-product-card>
    </div>
  </div>
</div>
