<nz-modal nzWidth="80%" [(nzVisible)]="isVisible" nzOkText="OK" nzClassName="form-modal" [nzTitle]="modalTitle" [nzClosable]="false" (nzOnCancel)="cancelViewBlog()" (nzOnOk)="cancelViewBlog()">
    <ng-container *nzModalContent>
        <div>
            <h1 class="title">{{blog.title}}</h1>
            <p class="right">Created: {{blog.createdAt|slice:1:11|date}}</p>
            <quill-view-html [content]="blog.content" theme=" snow "> </quill-view-html>
            <p class="right">Author: {{blog.author}}</p>
        </div>
    </ng-container>
</nz-modal>
