<div class="blog-page mt-70">
  <app-header-page
    [image]="'/assets/images/blogs/blog-background.jpg'"
    [pageName]="'ALL BLOGS'"
  ></app-header-page>
  <div class="container">
    <div class="content" nz-row>
      <div nz-col [nzLg]="6" [nzSm]="18" [nzXs]="24">
        <app-sidebar (newItemEvent)="viewBlogByCategory($event)"></app-sidebar>
      </div>
      <div nz-col [nzLg]="18" [nzXs]="24">
        <div nz-row [nzGutter]="24">
          <div
            class="item"
            *ngFor="let blog of listBlog"
            nz-col
            [nzMd]="12"
            [nzXs]="24"
          >
            <app-blog-card [blog]="blog" (click)="viewItem(blog.id)"></app-blog-card>
          </div>
        </div>
        <div class="product-footer">
          <div class="pagination flex jc-center">
            <nz-pagination
              [nzHideOnSinglePage]="true"
              [nzPageIndex]= "pageIndex"
              [nzPageSize]="pageSize"
              [nzTotal]="total"
              (nzPageIndexChange) ="onQueryPageIndexChange($event)"
            ></nz-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
