<nz-modal [(nzVisible)]="isVisible" nzOkText="OK" nzClassName="form-modal" [nzTitle]="modalTitle" [nzClosable]="false" [nzOkLoading]="isLoadingButton" (nzOnCancel)="cancelModal()" (nzOnOk)="submitForm()">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="baseForm">
            <nz-form-item>
                <div class="center" *ngIf="isAdmin">
                    <nz-form-label nzFor="state">State</nz-form-label>
                    <nz-form-control>
                        <nz-select ngModel="{{states[0]}}" formControlName="state" (ngModelChange)="getStateChange($event)">
                            <nz-option *ngFor="let item of states" nzValue="{{item}}" nzLabel="{{item}}"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </div>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>
