<div class="title mt-70">
  <div class="background"></div>
  <p class="flex al-center jc-center">SHOPPING CART</p>
</div>
<div class="container">
  <div class="cart mt-70">
    <div class="cart-header">
      <div nz-row class="">
        <div class="flex al-center" nz-col [nzSpan]="10">PRODUCT</div>
        <div class="flex al-center jc-center" nz-col [nzSpan]="6">PRICE</div>
        <div class="flex al-center jc-center" nz-col [nzSpan]="4">QUANTITY</div>
        <div class="flex al-center jc-flex-end" nz-col [nzSpan]="4">TOTAL</div>
      </div>
    </div>
    <div [class.initial]="initialLoading" class="cart-content-wrapper">
      <app-loader [background]="'#ffffffab'" [id]="'cart'"></app-loader>
      <div *ngIf="cart" class="cart-content">
        <div *ngFor="let item of cart.cartItems" class="cart-item">
          <app-cart-row (changeQuantityEvent)="changeQuantity($event)" (deleteItemEvent)="deleteItem($event)"
            (isLoading)="loadingEvent($event)" [mode]="'cart'" [item]="item"></app-cart-row>
        </div>
      </div>
    </div>


    <div *ngIf="cart" class="cart-footer flex  jc-flex-end">
      <div>
        <div class="price flex jc-flex-end">
          <div class="price_text">Subtotal:</div>
          <div class="price_value">{{cart.total| currency}}</div>
        </div>
        <div class="policy">
          <p>Taxes, shipping and discounts codes calculated at checkout</p>

        </div>
        <div class="flex  al-flex-end fd-column">
          <button [routerLink]="['/checkout/information']" class="checkout-btn" nz-button nzType="primary">CHECK
            OUT</button>
          <img class="trust-img" src="/assets/images/trust_img2_360x.png" alt="">
        </div>

      </div>

    </div>
  </div>

  <div class="recently-view">
    <app-section-title [title]="'Recently viewed products'"></app-section-title>
    <app-product-carousel [listProduct]="listProduct" [carouselOptions]="customOptions"></app-product-carousel>
  </div>
</div>
