<nz-modal [(nzVisible)]="isVisible" nzOkText="Save Change" nzClassName="form-modal" [nzTitle]="modalTitle"
  [nzClosable]="false" [nzOkDisabled]="sizeForm.invalid" [nzOkLoading]="isLoading" (nzOnCancel)="handleCancel()"
  (nzOnOk)="submitForm()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="sizeForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="sizeName">Size Name</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="Please input your size name!">
          <input nz-input type="text" formControlName="sizeName">
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
