.address-form {
  padding: 30px 20px;
  border: 1px dashed #d5d5d5;
  margin-bottom: 60px;
}

.button {
  height: 40px;
  width: 165px;
  margin-right: 10px;
}

.default-checkbox {
  margin-bottom: 20px;
}
