.table-operations {
  margin-bottom: 16px;
  float: right;
}

.table-operations > button {
  margin-right: 8px;
}

.btn-action .ant-btn {
  height: 30px;
  padding: 4px 8px;
  font-size: 13px;
  margin-right: 6px;
}

.ant-btn .anticon {
  margin-left: 4px;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}
