<div class="product-card">
  <div class="product-image">
    <span class="labels">
      <span class="new flex al-center jc-center" *ngIf="product.isNew && product.discount == 0">New</span>
      <span class="discount flex al-center jc-center" *ngIf="product.discount > 0">-{{product.discount}}%</span>
    </span>
    <div class="background-image" [ngStyle]="{'background-image':'url('+product.image+')'}"></div>
    <div class="hover-btn flex fd-column">
      <button>
        <span>Quick View</span>
        <i nz-icon nzType="eye" nzTheme="outline"></i>
      </button>
      <button>
        <span>Quick Shop</span>
        <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
      </button>
    </div>
    <div class="add-wishlist">
      <i *ngIf="!product.inWishList" class="text-hover" nz-tooltip nzTooltipPlacement="right"
        nzTooltipTitle="Add to wishlist" nz-icon nzType="heart" nzTheme="outline"></i>
      <i *ngIf="product.inWishList" nz-tooltip nzTooltipPlacement="right" nzTooltipTitle="Remove wishlist" nz-icon
        nzType="delete" nzTheme="outline"></i>
    </div>
    <div class="list-size">
      <span>{{sizes}}</span>
    </div>
  </div>
  <div class="product-info">
    <p class="product-name text-hover">{{product.productName}}</p>
    <span class="product-price">{{product.price |currency}}</span>
    <app-select-color [showTitle]="false" [(listColor)]="product.colors"></app-select-color>
  </div>
</div>
