.footer-section {
  margin-top: 40px;
  margin-bottom: 70px;
}

.order-coupon input {
  width: auto;
  min-width: 290px;
  height: 40px;
}

.order-coupon {
  margin-bottom: 50px;
}

.checkout-btn {
  width: auto;
  min-width: 280px;
  float: right;
  background-color: #56cfe1;
  border-color: #56cfe1;
  height: 40px;
}

.money {
  font-size: 18px;
}

.total {
  margin-bottom: 40px;
}

.total .title {
  font-size: 20px;
  padding: 0 40px;
}

.total .title,
.total .money {
  padding-top: 5px;
  border-top: 1px solid #ddd;
}

@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .coupon p {
    text-align: center;
  }
}

@media (max-width: 600px) {
}
