/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/style/index.min.css";
@import "~ng-zorro-antd/layout/style/index.min.css";
@import "~ng-zorro-antd/menu/style/index.min.css";
@import "~ng-zorro-antd/form/style/index.min.css";
@import "~ng-zorro-antd/input/style/index.min.css";
@import "~ng-zorro-antd/checkbox/style/index.min.css";
@import "~ng-zorro-antd/grid/style/index.min.css";
@import "~ng-zorro-antd/button/style/index.min.css";
@import "~ng-zorro-antd/steps/style/index.min.css";
@import "~ng-zorro-antd/date-picker/style/index.min.css";
@import "~ng-zorro-antd/radio/style/index.min.css";
@import "~ng-zorro-antd/table/style/index.min.css";
@import "~ng-zorro-antd/modal/style/index.min.css";
@import "~ng-zorro-antd/message/style/index.min.css";
@import "~ng-zorro-antd/popconfirm/style/index.min.css";
@import "~ng-zorro-antd/badge/style/index.min.css";
@import "~ng-zorro-antd/image/style/index.min.css";
@import "~ng-zorro-antd/upload/style/index.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
}

.form-upload-image .ant-upload.ant-upload-select{
  display: block;
}

.form-upload-image .ant-upload.ant-upload-select button{
  width: 100%;
}


/* notify-card */
.notify-card {
  min-height: 200px;
  width: 270px;
}

.notify-card .ant-popover-buttons {
  display: none;
}

.notify-card .ant-popover-inner-content {
  padding: 0;
}

.notify-card .ant-popover-message {
  padding: 0;
}

/* modal-css */
.form-modal .ant-modal-mask {
  background-color: rgba(41, 42, 51, 0.3);
}

.form-modal .ant-modal-header .ng-star-inserted {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.form-modal .ant-modal-body {
  padding: 15px;
}

.ant-modal-body .ant-form-item {
  margin: 0;
  padding: 20px 0 20px 0;
}

.form-modal .ant-modal-content {
  border-radius: 0.2875rem;
  border: none;
  box-shadow: 0px 10px 50px 0px rgb(41 42 51 / 50%);
}

.form-modal .ant-modal-footer {
  border-top: none;
  padding: 16px;
  padding-top: 0;
}

.form-modal .ant-modal-footer button{
  border-radius: 20px;
}


/* table-css */
.ant-table table{
  border-spacing: 2px;
}

.ant-table.ant-table-bordered .ant-table-container{
  border: 1px solid #dee2e6;
}

.ant-table-thead tr th{
  font-weight: bold;
  border-bottom: 2px solid #dee2e6;
  background: #fff;
}

.ant-table-tbody tr.even {
  background-color: rgb(250 250 250);
}

.ant-table-tbody tr td {
  border-bottom: 1px solid #dee2e6;
}

.ant-table-content tr th,
.ant-table-content tr td{
  border: 1px solid #dee2e6 !important;
  border-left-width: 0  !important;
}

.ant-table-content tr th:last-child,
.ant-table-content tr td:last-child{
  border-right-width: 0  !important;
}

.ant-table-pagination .ant-pagination-prev button,
.ant-table-pagination .ant-pagination-next button
{
  border: none;
}

.ant-table-pagination .ant-pagination-item
{
  border-radius: 50%;
}


/*btn-add-css */
.table-operations {
  margin-bottom: 16px;
  float: right;
  height: 45px;
}

.table-operations > button {
  margin-right: 8px;
}

.add-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.add-btn:hover {
  width: 45px;
  height: 45px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  color: #fff;
  transform: translateY(-3px);
}

/* action-btn */
.btn-action .ant-btn {
  height: 30px;
  padding: 4px 8px;
  font-size: 13px;
  margin-right: 6px;
}

.btn-action .ant-btn .anticon {
  margin-left: 4px;
}


/* search-input-table */
.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-left: 8px;
}

/* delete-confirm-card */
.delete-confirm-card .ant-popover-message-title
{
  font-size: 13.5px;
}

.delete-confirm-card .ant-popover-buttons button{
  font-size: 13px;
}
