/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/style/index.min.css";
@import "~ng-zorro-antd/layout/style/index.min.css";
@import "~ng-zorro-antd/menu/style/index.min.css";
@import "~ng-zorro-antd/form/style/index.min.css";
@import "~ng-zorro-antd/input/style/index.min.css";
@import "~ng-zorro-antd/checkbox/style/index.min.css";
@import "~ng-zorro-antd/grid/style/index.min.css";
@import "~ng-zorro-antd/button/style/index.min.css";
@import "~ng-zorro-antd/steps/style/index.min.css";
@import "~ng-zorro-antd/date-picker/style/index.min.css";
@import "~ng-zorro-antd/radio/style/index.min.css";
@import "~ng-zorro-antd/table/style/index.min.css";
@import "~ng-zorro-antd/modal/style/index.min.css";
@import "~ng-zorro-antd/message/style/index.min.css";
@import "~ng-zorro-antd/popconfirm/style/index.min.css";
@import "~ng-zorro-antd/badge/style/index.min.css";

.notify-card {
  min-height: 200px;
  width: 270px;
}

.notify-card .ant-popover-buttons {
  display: none;
}

.notify-card .ant-popover-inner-content {
  padding: 0;
}

.notify-card .ant-popover-message {
  padding: 0;
}

/* modal */

.ant-modal-mask {
  background-color: rgba(41, 42, 51, 0.3);
}

.ant-modal-header {
  border-bottom: none;
}

.ant-modal-content {
  border-radius: 0.2875rem;
  border: none;
  box-shadow: 0px 10px 50px 0px rgb(41 42 51 / 50%);
}

.ant-modal-footer {
  border-top: none;
}

/* button */

/* .ant-btn {
  border-radius: 5px;
} */
