<div class="container">
  <form nz-form [formGroup]="productForm">
    <div class="base-info section">
      <h4>Basic Information:</h4>
      <div class="content">
        <div class="column">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="productName">Product Name</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input your product name!">
              <input nz-input type="text" formControlName="productName">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="productName">Category</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input your category name!">
              <nz-select [nzLoading]="isLoadingCategory" formControlName="categoryId" nzShowSearch nzAllowClear
                nzPlaceHolder="Select a category">
                <nz-option *ngFor="let item of listCategory" [nzLabel]="item.categoryName" [nzValue]="item.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="column">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="price">Price</nz-form-label>
            <nz-form-control [nzSpan]="14" [nzErrorTip]="priceErrorTpl">
              <input nz-input type="number" formControlName="price">
              <ng-template #priceErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input your price!
                </ng-container>
                <ng-container *ngIf="control.hasError('min')">
                  The min value is 0
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="price">Brand</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input your price!">
              <nz-select [nzLoading]="isLoadingBrand" formControlName="brandId" nzShowSearch nzAllowClear
                nzPlaceHolder="Select a brand">
                <nz-option *ngFor="let item of listBrand" [nzLabel]="item.brandName" [nzValue]="item.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </form>

  <div class="product-image section">
    <h4>Product Images:</h4>
    <nz-form-item>
      <div class="clearfix">
        <nz-upload [nzAction]="backEndUrl" [nzMultiple]="true" nzName="files" nzListType="picture-card"
          [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 8" [nzPreview]="handlePreview">
          <div>
            <i nz-icon nzType="plus"></i>
            <div style="margin-top: 8px">Upload</div>
          </div>
        </nz-upload>
        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
          (nzOnCancel)="previewVisible = false">
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
          </ng-template>
        </nz-modal>
      </div>
    </nz-form-item>
  </div>


  <div class="option-value section">
    <h4>Option Value:</h4>
    <div class="content">
      <div class="column">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">Size</nz-form-label>
          <nz-form-control [nzSpan]="14" nzErrorTip="Please input your size!">
            <nz-select [nzLoading]="isLoadingSize" nzMode="multiple" [nzMaxTagCount]="3" [(ngModel)]="listSizeSelected"
              (ngModelChange)="changeSize($event)" nzAllowClear nzShowSearch nzPlaceHolder="Select a size">
              <nz-option *ngFor="let item of listSize" [nzLabel]="item.sizeName" [nzValue]="item">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="column">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">Color</nz-form-label>
          <nz-form-control [nzSpan]="14" nzErrorTip="Please input your color!">
            <nz-select nzMode="multiple" [nzLoading]="isLoadingColor" [nzMaxTagCount]="3"
              [(ngModel)]="listColorSelected" (ngModelChange)="changeColor($event)" nzShowSearch nzAllowClear
              nzPlaceHolder="Select a color">
              <nz-option *ngFor="let item of listColor" [nzLabel]="item.colorName" [nzValue]="item">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-table [nzShowPagination]="false" nzBordered [nzData]="listProductDetail">
      <thead>
        <tr>
          <th nzAlign="center">Size</th>
          <th nzAlign="center">Color</th>
          <th nzAlign="center">Quantity</th>
          <th nzAlign="center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listProductDetail">
          <td nzAlign="center">{{data.size}}</td>
          <td nzAlign="center">{{data.color}}</td>
          <td nzAlign="center"><input type="number" [(ngModel)]="data.quantity" nz-input placeholder="Quantity"></td>
          <td nzAlign="center">
            <button nz-button nzDanger nzType="primary" (click)="delete(data)"><i nz-icon nzType="delete"
                nzTheme="outline"></i></button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div class="btn-submit">
    <button nz-button [nzLoading]="isLoadingButton" [disabled]="productForm.invalid" (click)="submitForm()"
      nzType="primary">Save change</button>
  </div>
  <nz-spin [ngClass]="{'isLoading':isLoadingProduct}" [nzSpinning]="isLoadingProduct" nzSimple></nz-spin>
</div>
