<div class="container">
  <div class="our-products">
    <app-section-title [title]="'OUR PRODUCTS'" [subTitle]="'Top sale in this week'"></app-section-title>

    <app-ng-tabs>
      <app-tab-content tabTitle="Best Seller">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="column">
              <app-product-card [product]="listProduct[0]"></app-product-card>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="column">
              <app-product-card [product]="listProduct[0]"></app-product-card>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="column">
              <app-product-card [product]="listProduct[0]"></app-product-card>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="column">
              <app-product-card [product]="listProduct[0]"></app-product-card>
            </div>
          </ng-template>

        </owl-carousel-o>
      </app-tab-content>
      <app-tab-content tabTitle="Top Rate">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="column">
              <app-product-card [product]="listProduct[0]"></app-product-card>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="column">
              <app-product-card [product]="listProduct[0]"></app-product-card>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="column">
              <app-product-card [product]="listProduct[0]"></app-product-card>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="column">
              <app-product-card [product]="listProduct[0]"></app-product-card>
            </div>
          </ng-template>

        </owl-carousel-o>
      </app-tab-content>
      <app-tab-content tabTitle="Sale">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="column">
              <app-product-card [product]="listProduct[0]"></app-product-card>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="column">
              <app-product-card [product]="listProduct[0]"></app-product-card>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="column">
              <app-product-card [product]="listProduct[0]"></app-product-card>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="column">
              <app-product-card [product]="listProduct[0]"></app-product-card>
            </div>
          </ng-template>

        </owl-carousel-o>
      </app-tab-content>
    </app-ng-tabs>
  </div>
</div>
