<div class="section-products">
  <div class="product-filter-bar flex al-center">
    <ul class="flex al-center">
      <li [class.active]="selectedIndex == 1" (click)="sortProduct(1) ">New Arrival</li>
      <li [class.active]="selectedIndex == 2" (click)="sortProduct(2) ">Hight price</li>
      <li [class.active]="selectedIndex == 3" (click)="sortProduct(3) ">Low Price</li>
    </ul>
  </div>
  <div class="product-row">
    <app-loader [id]="'products-store'"></app-loader>
    <div nz-row class="product-list">
      <div *ngFor="let product of listProduct " nz-col class="product-item column " [nzLg]="fullScreen ? 6 : 8 "
        [nzMd]="8 " [nzSm]="12 " [nzXs]="fullScreen ? 12 : 24 ">
        <app-product-card [product]="product "></app-product-card>
      </div>
      <div class="not-found" *ngIf="listProduct?.length == 0">0 product found</div>
    </div>
    <div *ngIf="!hideLoadMoreBtn" class="product-footer ">
      <a (click)="sortProduct(4)">Load more</a>
    </div>
  </div>

</div>
