<div class="shipping-section ">
  <h3>Estimate Shipping</h3>
  <div class="content flex jc-center al-flex-end">
    <div class="address province">
      <p for="">Province</p>
      <nz-select class="select-round" nzSize="large" [(ngModel)]="selectedProvince"
        (ngModelChange)="provinceChange($event)">
        <nz-option *ngFor="let p of provinceData" [nzValue]="p" [nzLabel]="p"></nz-option>
      </nz-select>
    </div>
    <div class="address district">
      <p for="">District</p>
      <nz-select class="select-round" nzSize="large" [(ngModel)]="selectedProvince"
        (ngModelChange)="provinceChange($event)">
        <nz-option *ngFor="let p of provinceData" [nzValue]="p" [nzLabel]="p"></nz-option>
      </nz-select>
    </div>

    <button class="calculator-btn" nz-button nzShape="round" nzType="primary">CALCULATOR SHIPPING</button>
  </div>
  <div class="result flex jc-center">
    <ul>
      <li>+ Shipping cost is <span>$0.00</span> </li>
    </ul>
  </div>
</div>
