<div class="store-discount">
  <div class="discounts">
    <owl-carousel-o [options]="customOptions">
      <ng-template *ngFor="let discount of listDiscount" carouselSlide>
        <div class="coupon">
          <img class="background" src="https://frontend.tikicdn.com/_desktop-next/static/img/coupon_bg.svg">
          <div class="content">
            <div class="left">
              <div>
                <p class="percent">Discount {{discount.discount |number: '1.0-0'}} %</p>
              </div>
              <div>
                <p class="expire">Start: {{discount.startDate | date:'mediumDate'}}</p>
                <p class="expire">Expire: {{discount.endDate | date:'mediumDate'}}</p>
              </div>
            </div>
            <div class="right">
              <img src="{{discount.qrCode}}" alt="">
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
