<div class="blog-comments">
  <div *ngIf="isAuthenticated" class="leave-comment">
    <div class="comment-group flex al-center">
      <img [src]="customerImage">
      <app-comment-input (addNewCommentEvent)="addNewComment($event)"></app-comment-input>
    </div>

  </div>
  <div *ngFor="let comment of subComments">
    <app-comment (deleteCommentEvent)="deleteComment($event)" [comment]="comment"></app-comment>
  </div>
  <div class="pagination flex jc-center">
    <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
      [nzTotal]="comments.length" (nzPageIndexChange)="onQueryPageIndexChange($event)"></nz-pagination>
  </div>
</div>
